
body {
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.4em;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}

a {
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    color: black;
}

/* Cabezera */
.cabezera {
    margin: 1em;
}
.cabezera-p {
    font-weight: 300;
}

/* Trabajos */
.trabajos {
    margin: 1em;
}
.trabajos__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.trabajos-p {
    font-weight: 300;
}

/* experience */
.experience {
  margin: 1em;
}
.experience__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
.experience__card > p:first-child {
    font-weight: 700;
}
.experience__card > p:last-child {
    font-weight: 300;
}
/* footer */
.footer-wrapper{
    color:#999999;  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-family: 'Inter', sans-serif;  
}

.footer-wrapper__message{
    padding-bottom: 24px;   
    text-align: center;    
}
.footer-wrapper__message p{
    margin:0;
}
.footer-wrapper__media{    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer-wrapper__media a{
    color:#999999;    
    font-size: 14px;
    width: 54px;
    line-height: 17px;
    text-decoration: none;
}
