.footer-wrapper{
    color:#999999;
    padding:32px 32px 32px 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    font-family: 'Inter', sans-serif;
    
   
}

.footer-wrapper__message{
    padding-bottom: 24px;   
    text-align: center;    
}
.footer-wrapper__message p{
    margin:0;
}
.footer-wrapper__media{    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer-wrapper__media a{
    color:#999999;
    padding-right: 19px;
    font-size: 14px;
    width: 54px;
    line-height: 17px;
    text-decoration: none;
}